<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228088406562-k6qlcgo54m6vtl6d3mf9ctoh1mcrq04m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228088406562-k6qlcgo54m6vtl6d3mf9ctoh1mcrq04m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228088406562-sgpjs2410ud9h7d58iec6p1f2b4pruej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6QnUs_Bt4CLa34QmZRmeHFteFOhQ7cfo</string>
	<key>GCM_SENDER_ID</key>
	<string>228088406562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.demos.almahbubManagment</string>
	<key>PROJECT_ID</key>
	<string>almahbubuz</string>
	<key>STORAGE_BUCKET</key>
	<string>almahbubuz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228088406562:ios:511eb0742a6f2e7bd7607b</string>
</dict>
</plist>